Flask==1.1.1
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
gunicorn==19.9.0
python-dateutil==2.8.0
requests==2.22.0
slackclient==2.3.0
slackeventsapi==2.1.0
