bcrypt==3.2.0
Flask==1.1.1
Flask-Login==0.5.0
gevent==1.4.0
GitPython==3.1.8
gunicorn==19.9.0
newrelic==5.4.0.132
PyGithub==1.53
pyrebase==3.0.27
python-dateutil==2.8.0
PyYAML==5.3.1
requests==2.20.0
slackclient==2.3.0
slackeventsapi==2.1.0
