Flask==1.1.1
gevent==1.4.0
gunicorn==19.9.0
newrelic==5.4.0.132
pyrebase==3.0.27
python-dateutil==2.8.0
requests==2.20.0
slackclient==2.3.0
slackeventsapi==2.1.0
PyYAML==5.3.1
GitPython==3.1.8
PyGithub==1.53
Flask-Login==0.5.0
bcrypt==3.2.0