<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enter Publication Details</h2>
    <form action="/addpublication" method="post">
        <label for="pname">Paper Title </label>
        <input type="text" id="pname" name="pname"><br><br>
        <label for="cname">Conference </label>
        <input type="text" id="cname" name="cname"><br><br>
        <label for="cyear">Year </label>
        <input type="text" id="cyear" name="cyear"><br><br>
        <label for="status">Status: </label>
        <select name="status" id="status">
            <option value="Accepted">Accepted</option>
            <option value="Published">Published</option>
        </select><br><br>
        <label for="team">Team </label>
        <select name="team" id="team">
            <option value="MG">MG</option>
            <option value="IoT">IoT</option>
            <option value="ML">ML</option>
        </select><br><br>
        <label for="authors">Choose Authors: </label>
        <select name="authors" id="authors" multiple>
            {% for key,values in data["people"].items() %}
            <option value={{key}}>{{values["name"]}}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
